
// ---Text Color---
$textColor: #000000;
$textGrey: gray;
$textWhite: white;

// ---Background Colors---
$bgWhite: white;
$bgDc: #0282f9;
$bgMain: #1c1c1c;
$bgFooter: #303030;
$bgColor: #222222;



$dcColor: #0282f9;

